.App {
  background-color: rgb(47, 172, 255);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

.title {
  color: white;
}

/* calc-body */
.calc-body {
  max-width: 400px;
  margin: auto;
}
